# Copier ce fichier en .env et remplir les valeurs
# Le fichier .env n'est JAMAIS commité dans git

BIOFRESH_EMAIL=ton@email.com
BIOFRESH_PASSWORD=tonmotdepasse

# Ajouter d'autres fournisseurs ici si besoin
# FOURNISSEUR_B_EMAIL=...
# FOURNISSEUR_B_PASSWORD=...
